@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.App{
  background-image: url("./Sully_background_image_website_blog_anime_wide_light_flat_desig_42288848-e50f-41ae-8018-4556ac1071d3.png");
  height: 100vh;
  background-size: cover;
}
/* base styles */
* {
  margin: 0;
  font-family: "Poppins";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #1d5357;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #1d5357;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview{
  padding: 14px 20px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 25px;
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px rgb(255, 255, 255);
}

.blog-preview h2{
  font-size: 20px;
  color: #1d5357;
  margin-bottom: 8pxs;
}
.blog-preview a {
  text-decoration: none;
}

.blog-details h2{
  font-size: 20px; 
  color: #1d5357;
  margin-bottom: 10px;

}

.blog-details div {
  margin: 20px 0
}

.blog-details button {
  background: #1d5357;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}



/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #1d5357;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
button {
  background: #1d5357;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.home .sorting{
  display: flex;
    justify-content: center;
    gap: 40px;
}
.home .sort{
  background-color: #333;
}
.home form {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;

}